.navbar {
    text-align: center;
    
    padding: 30px;
    margin-bottom: 15px;
}

.nav-list{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    
}

.nav-item{
    display: inline;
    margin: 0 10px;
    color: darkcyan;
    
}